body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.random-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #6495ED; /* Changed to a softer blue color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.random-number {
    font-size: 64px;
    font-weight: 600;
    color: #fff;
}
